{% extends 'main.html' %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.2"
  integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
<div class="container-fluid">
  <div class="row">
    <!-- SIDEBAR -->
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-lg offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item">

            </li>
            <li class="nav-item">
              {% if request.user.is_authenticated %}
              <h5 class="text-center">You are logged as {{ request.user }}</h5>
              {% else %}
              <a href="{% url 'login' %}" class="btn btn-primary">Login or signup</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'home' %}">
                Homepage
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'joboffer-create' %}">

                Add a job
              </a>
            </li>
          </ul>

          <hr class="my-3">

          <ul class="nav flex-column mb-auto">

            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'logout' %}">
                Sign out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- DETAIL START -->
      <div
        class="d-flex flex-row flex-wrap align-items-center justify-content-center pt-3 pb-2 mb-3 border-bottom overflow-y-auto overflow-x-hidden"
        style="max-height: 70vh;">
        <h4>Today is a good day to send some applications!</h4>
        <div id="htmx-wrapper" class="col-12">

        </div>
      </div>
      <!-- DETAIL END -->

      <!-- LIST OF APPLICATIONS -->
      <div class="row col-9">
        <!-- ADD BUTTON -->
        <div class="col-3 d-flex flex-row gap-2">
          <a class="btn btn-success" aria-current="page" href="{% url 'joboffer-create' %}">
            Add Job
          </a>
          <div class="dropdown">
            <a class="btn btn-outline-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter <i class="fa-solid fa-calendar-days"></i>
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">Last week</a></li>
              <li><a class="dropdown-item" href="#">Last month</a></li>
              <li><a class="dropdown-item" href="#">All</a></li>
            </ul>
          </div>
        </div>

        <!-- ADD BUTTON ENDS-->

        <div class="col">
          <!-- SEARCH FORM -->
          <form action="" method="GET">
            <div class="input-group rounded">
              <input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" value="{{ search_input }}" />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </form>
          <!-- SEARCH FORM ENDS-->
        </div>
      </div>
      <div class="table-responsive small overflow-y-auto overflow-x-hidden" style="max-height: 70vh;">
        {% include 'base/joboffer_list.html' %}
      </div>
      <!-- LIST OF APPLICATIONS ENDS -->
    </main>
  </div>
</div>

{% endblock content %}